{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <span><i class="fas fa-user"></i> {% filter capfirst %}{{name}}{% endfilter %}</span>
            <a class="navbar-link updateuserbutton" href="{% url 'updateuser' %}">Update Profile</a>
        </div>
        <div class="navbar-right">
            <a class="navbar-link" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <h1>Home Page</h1>

</body>
</html>
