{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <span><i class="fas fa-user"></i> {% filter capfirst %}{{name}}{% endfilter %}</span>
            <a class="navbar-link updateuserbutton" href="{% url 'home' %}">Home</a>
        </div>
        <div class="navbar-right">
            <a class="navbar-link" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <h1>Update Profile</h1>
    {% if messages %}
    <ul class="message-ul">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
    <div class="container">


    <form class="form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
    </div>
</body>
</html>